
<div class="col-md-12 col-sm-12" id="main">

  <h1>Tổng tiêu : <%= @tongtien %></h1>
  <p> Khoảng thời gian: <span class="label label-success"><%= @range_time.start_time if @range_time %> - <%= @range_time.end_time if @range_time %></span></p>
  <h3>Trung bình: <span class="label label-success">abc K</span></h3>
  <table>
    <tr>
      <th>Tên</th>
      <th>Tổng tiền ăn tháng vừa rồi</th>
      <th>Tổng chi ra </th>
      <th>Nhận lại</th>
    </tr>
    <% @users.each_with_index do |user, index| %>
      <tr>
          <td><%= user.name %></td>
          <td><%= @cost[index] %></td>
          <td><%= @expenses[index] %></td>
          <td><%= @expenses[index] - @cost[index] %></td>
      </tr>
    <% end %>
  </table>
</div>
